/* css variables */
html,
body {
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* font family variables. */
@font-face {
  font-family: "myViksi";
  src: url("../fonts/Viksi_Script/Viksi_Script.ttf") format("truetype");
}

@font-face {
  font-family: "myPlayFair";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "mtTitItalic";
  src: url("../fonts/Titillium_Web/TitilliumWeb-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "myTitilliumBold";
  src: url("../fonts/Titillium_Web/TitilliumWeb-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "myTitilliumBoldItalic";
  src: url("../fonts/Titillium_Web/TitilliumWeb-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "myBal";
  src: url("../fonts/Balqis_FDR_300118/Balqis.ttf") format("truetype");
}

@font-face {
  font-family: "myRoboto";
  src: url("../fonts//Roboto/Roboto-Bold.ttf") format("truetype");
}

#overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.322);
  /* z-index: 2; */
}

.site-main {
  /* perspective: 1000px; */
}

/* BANNER + NAVIGATION */
.site-main .nav-banner {
  height: 100vh;
  /* transform: translateZ(-5rem); */
  /* transform-style: preserve-3d; */
  /* background: url(../img/background/landing.jpg) no-repeat; */
  background: url(../img/landing/IMG_14914mp.JPG) no-repeat;
  background-position: 39% 50%;
  /* background-attachment: fixed;   IT SEEMS TO MAKE discrete transitions while scrolling */
  /* object-fit: cover; */
  opacity: 1;
  background-size: cover;
}

/* NAVIGATION */
.header_area .main-menu {
  border: none;
}

.header_area .main-menu .nav-item .nav-link {
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.2rem 1.2rem 1rem 1.2rem;
  /* color: rgb(36, 36, 36); */
  color: rgba(255, 255, 255, 0.877);
}

.header_area .navbar_fixed .nav-item .nav-link {
  color: rgb(36, 36, 36);
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  color: rgba(255, 255, 255, 0.877);
}

.navbar_fixed .navbar-toggler-icon {
  color: rgb(36, 36, 36);
}

.header_area .main-menu .navbar-nav .active a {
  background: linear-gradient(90deg, #d31d10 0%, 70%, #4f67ee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  /* border-bottom: 0.075rem transparent solid; */
}

.header_area .main-menu .navbar-nav a:hover {
  background: linear-gradient(90deg, #d31d10 0%, 70%, #4f67ee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* border-bottom: 0.075rem rgb(36, 36, 36) solid; */
}

/* Banner Area */
#aluarin {
  color: rgba(255, 255, 255, 0.603);
  font-size: 3.5rem;
}

#mini-aluarin {
  background: linear-gradient(to right,
      #db6860,
      #e17288,
      #db82ad,
      #cd94c9,
      #bda7dc,
      #b1a7e2,
      #a3a8e7,
      #92a9eb,
      #7f99ed,
      #6e89ef,
      #5d78ef,
      #4f67ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}

.site-main .my-banner {
  padding: 3rem 0;
}

.site-main .my-banner .banner-intro-column {
  padding: 4rem 0;
}

.site-main .banner-image img {
  padding-top: 5rem;
  height: 100%;
  width: 25rem;
}

.site-main .my-banner .banner-button {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

#cv-button {
  cursor: pointer;
  border-radius: 2rem;
  border: 0.08rem #fff solid;
  padding: 0;
  margin: 0;
}

#cv-button:hover {
  background: linear-gradient(90deg, #d31d10 50%, #4f67ee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: transparent;
}

/* projects Area */
.my-projects {
  background-color: #f0f0f0;
  background-color: rgb(36, 36, 36);
  background-color: rgb(228, 228, 228);

  padding: 6rem 0;
}

.my-projects-title {
  color: #6dbafd;
  margin-bottom: 2rem;
}

.card {
  border: none;
  /* background-color: rgb(36, 36, 36); */
  background-color: transparent;
}

.card-flip>div {
  backface-visibility: hidden;
  transition: transform 500ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  overflow-y: hidden;
  background-color: #fafffa;
}

.card-front {
  transform: rotateY(0deg);
  background-color: #f7fbff;
  box-shadow: 0.2rem 0.2rem 0.8rem #6dbafd;
  border-radius: 0.4rem;
  align-items: center;
}

.card-front .card-title {
  color: #6dbafd;
}

.card-front .card-text {
  color: #2241a8;
}

.card-back {
  height: 100%;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 255, 191, 0.3);

  border-radius: 0.4rem;
}

.card-back .card-body {
  background-color: #fafffa;
}

.card-back .card-body::-webkit-scrollbar {
  display: none;
}

.card-back .card-title {
  color: #72ff3a;
}

.card-back .card-text {
  color: #05be4c;
}

.card-back .card-back-teams {
  margin: 1rem 0 0.7rem 0;
  padding: 0.5rem 0 0 0;
}

.card-back .card-back-teams img {
  margin: 1rem 0 0 0;
}

.card-back .card-back-teams .card-back-link {
  margin: 1rem 0;
}

.card-back .card-back-teams .avatar {
  margin: 0 0.25rem;
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.card-back .card-body a {
  color: #073802;

  /* font-size: 3rem; */
}

.card-flip:hover .card-front {
  overflow: hidden;
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  overflow-y: scroll;
  transform: rotateY(0deg);
}

.card-flip:hover .card-back::-webkit-scrollbar {
  display: none;
}

.my-each-project {
  height: 30vh;
}

@media (min-width: 769px) {
  .my-each-project {
    height: 45vh;
  }
}

/* for ipad pro !!!  */
/* @media (height: 1024px) {
  .my-each-project {
    height: 30vh;
    background-color: red;
    border: 2rem blue solid;
  }
} */

/* @media (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
} */
.each-skill img {
  opacity: 0.75;
}

.each-skill img:hover {
  transform: scale(1.09);
  opacity: 1;
  cursor: pointer;
  -webkit-transition: transform 0.4s ease-in;
}

.site-main .my-about {
  background-color: #e5e5e5;
  background-color: rgb(32, 32, 32);
  padding: 6rem 0rem;
}

.site-main .my-about .my-about-title {
  font-size: 2.5rem;
  color: #6dbafd;
}

.site-main .my-about .my-about-intro .my-intro {
  padding: 1rem 0;
  margin: 2rem 1rem 1rem 1rem;
}

.site-main .my-about .my-about-intro .my-intro p {
  color: gray;
  text-align: justify;
  text-justify: inter-word;
}

.site-main .my-about .my-about-intro .my-intro h3 {
  font-family: cursive;
  color: whitesmoke;
}

.site-main .my-about .my-about-intro .my-intro h5 {
  font-family: myBal;
  padding: 1rem;
  background: linear-gradient(to right,
      #db6860,
      #e17288,
      #db82ad,
      #cd94c9,
      #bda7dc,
      #b1a7e2,
      #a3a8e7,
      #92a9eb,
      #7f99ed,
      #6e89ef,
      #5d78ef,
      #4f67ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: #6dbafd; */
  font-size: 1.75rem;
  font-weight: bold;
}

.site-main .my-about .my-about-skills h4 {
  font-family: myRoboto;
  /* color: #36ddfaab; */
  color: #6dbafd;
  font-size: 2rem;
}

.site-main .my-educations {
  background-color: #f0f0f0;
  padding: 5rem 3rem;
}

.my-educations .my-educations-title {
  font-size: 2.5rem;
  color: #6dbafd;
}

#accordion {
  margin: 4rem 0rem;
}

.my-educations .card {
  cursor: pointer;
  margin: 2rem 0rem;
}

.my-educations .card:nth-child(even) {
  background-color: #272727;
  color: #a1fdee;
}

.my-educations .card:nth-child(odd) {
  background-color: #252525;
  color: #6d77ff;
}

.footer {
  /* background: url(../img/background/connectme-medium.jpg) no-repeat 0% 55%; */
  padding: 5em 0 2em 0;
  background-color: rgb(32, 32, 32);
}

.my-footer-title h5 {
  background: linear-gradient(90deg, #d31d10 0%, 70%, #4f67ee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem;
}

#copyright {
  color: #756868;
}

.social-icons a i {
  color: #6dbafd;
  cursor: pointer;
  size: 4rem;
}

.social-icons a i:hover {
  transform: scale(1.7);
  cursor: pointer;
  transition: ease-in 0.4s;
}

/* after js effect  */
.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background: rgba(245, 245, 245, 0.808);
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  z-index: 999;
  transition: background 0.8s ease-in-out;
}

.navbar_fixed .main-menu .nav-item .nav-link {
  color: rgb(36, 36, 36);
}

.navbar_fixed .navbar-toggler {
  border-color: rgb(36, 36, 36);
}

.navbar_fixed .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.site-main .my-hobbies {
  background-color: rgb(36, 36, 36);
  background-color: rgb(228, 228, 228);
  padding: 5rem 0rem;
}

.site-main .my-hobbies .row {
  text-align: center;
}

.site-main .my-hobbies-title {
  font-size: 2.5rem;
  color: #6dbafd;
  margin-bottom: 2rem;
}

.site-main .my-hobbies-text {
  margin: 1rem 0 0 0;
  color: rgb(36, 36, 36);
  font-size: 1.4rem;
}

.site-main .my-hobbies-link {
  margin: 1rem 0 0 0;
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
}

.site-main .my-hobbies-link a {
  color: #6dbafd;
  cursor: pointer;
}

.site-main .my-hobbies-link a:hover {
  /* border-bottom: 0.08rem rgb(36, 36, 36) solid; */

  text-decoration: none;
}

.site-main .my-hobbies .carousel .photo-row {
  color: white;
  padding: 1.5rem 0 0.5rem 0;
}

.site-main .my-hobbies .carousel .photo-img {
  margin: 2rem 0;
}

.site-main .my-hobbies .carousel .photo-img img {
  border-radius: 0.85rem;
}

.site-main .my-hobbies .carousel .about-photo {
  margin: 0.25rem 0;
  text-align: center;
}

.site-main .my-hobbies .carousel .about-photo h4 {
  margin: 0.25rem 0;
  text-align: center;
  color: #6dbafd;
}

.site-main .my-hobbies .carousel .about-photo p {
  color: rgb(36, 36, 36);
}

.aluarin-animation {
  position: relative;
}

.each_image {
  margin: 1rem 0.5rem 1rem 0.5rem;
}