---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ExperienceTimeline from "../components/ExperienceTimeline.astro";

const items = await getCollection("experience");
items.sort((a, b) => (a.data.startDate > b.data.startDate ? -1 : 1));
---

<BaseLayout
  title="Experience | Shrey Niraula"
  description="Professional experience timeline including NASA IMPACT (CSDA) and GrowByData roles."
  path="/experience"
  extraStyles={["/css/projects_timeline.css"]}
>
  <section class="my-projects-timeline py-5">
    <div class="container">
      <div class="row">
        <div class="my-projects-title col-lg-12 text-center">
          <h3 class="text-uppercase title-text">Work Experiences</h3>
        </div>
      </div>
      <ExperienceTimeline items={items} />
    </div>
  </section>
</BaseLayout>